.tab a{
	text-decoration: none;
	vertical-align: middle;
	padding: 5%;
	color: black;
	font-family: sans-serif;
	margin-left: 2.5%;
	font-weight: bold;
}
.tab{
	background-image: url(pics/nn.jpg);
	background-repeat: no-repeat;
	padding-top: 0.5%;
	padding-bottom: 0.5%;


	
}